@import "_reset.scss";
body {
   background: #e2e7ec;
}
.content {
   max-width: 1140px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 360px);
   grid-gap: 20px;
}
.item {
   height: 540px;
   background: #ffffff;
}
.item-big {
   grid-column: 1/-2;

   padding: 48px 48px 25px 38px;
   display: grid;
   align-content: end;
   background-image: url(/img/CAR1.png);
}
.item-date {
   height: 15px;
   color: #818181;
   padding: 0 0 35px 0;
}
.item-text {
   padding: 24px 24px 24px 24px;
   color: #000000;
   font-size: 22px;
   font-weight: 400;
   line-height: 28px;
   font-weight: 600;
}
.item-car-color {
   color: #ffffff;
   font-size: 19px;
}
.item-date-car {
   font-size: 19px;
   color: #d6d6d6;
   font-weight: 700;
}
